@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 *{
  font-family: "Roboto", serif;
  
}



.user-pic{
  object-fit: contain;
  width: 600px;
height: 729px;
}

.head {
  position: sticky;
  top: 0;  
  
}

.button{
background-color: #5E3BEE;
}

.body2{
 margin-top: 80px;
 margin-bottom: 50px;
}

.port{
  margin-top: 60px;
 margin-bottom: 80px;
}
